# This file is part of https://github.com/random-archer/mkinitcpio-systemd-tool

# intelli-j
.idea/

# eclipse meta data
.project
.pydevproject
.settings/

# image boot folder mount
boot/

# image boot folder extract
data/

# local package install resources
pkg/
*.pkg.tar.xz
