# This file is part of https://github.com/random-archer/mkinitcpio-systemd-tool

# Provide ssh server in initramfs

[Unit]
Description=Initrd Dropbear Service
Documentation=https://github.com/random-archer/mkinitcpio-systemd-tool/blob/master/README.md
ConditionPathExists=/etc/initrd-release
DefaultDependencies=no
After=initrd-shell.service
After=initrd-network.service
Before=cryptsetup-pre.target
Requires=initrd-shell.service
Requires=initrd-network.service

[Service]
Environment=IDLE_TIME=300
# dropbear options:
# -s     Disable password logins.
# -j     Disable local port forwarding.
# -k     Disable remote port forwarding.
# -m     Don't display the message of the day.
# -F     Don't fork into background.
# -I     Disconnect after idle timeout (seconds).
ExecStart=/bin/dropbear -s -j -k -m -F -I ${IDLE_TIME}
ExecReload=/bin/kill -HUP ${MAINPID}
# dropbear reports 1 when exiting on SIGTERM
SuccessExitStatus= 0 1
Restart=always
RestartSec=1s

[Install]
WantedBy=sysinit.target

[X-SystemdTool]

# ensure dropbear server host keys
InitrdBuild=/etc/systemd/system/initrd-build.sh command=do_ssh_host_keys

# include generated dropbear configuration
InitrdPath=/etc/dropbear

# provide expected dropbear layout
InitrdPath=/var/run/        create=yes source=/invalid-source
InitrdPath=/var/run/utmp    create=yes source=/invalid-source
InitrdPath=/var/log/        create=yes source=/invalid-source
InitrdPath=/var/log/btmp    create=yes source=/invalid-source
InitrdPath=/var/log/wtmp    create=yes source=/invalid-source
InitrdPath=/var/log/lastlog create=yes source=/invalid-source
