# This file is part of https://github.com/random-archer/mkinitcpio-systemd-tool

# Override Emergency Service

# the default reaction to several failed cryptsetup attempts is to isolate the emergency service
# which results in loss of network and forced local interactive console - no good for ssh mode 
# so for remote ssh/cryptsetup scenario we instead restart the boot sequence after a delay
# and also optionally start the provided debug shell

[Unit]
Description=Initrd Emergency Service
Documentation=https://github.com/random-archer/mkinitcpio-systemd-tool/blob/master/README.md
ConditionPathExists=/etc/initrd-release
DefaultDependencies=no
Conflicts=shutdown.target
Conflicts=rescue.service
Before=shutdown.target
Wants=initrd-debug-shell.service

[Service]
ExecStartPre=/bin/echo "Initrd Emergency Service"
ExecStartPre=/bin/sh -c 'for step in 1 2 3; do echo -n "$step "; sleep 1; done; echo ".";'
ExecStart=/usr/bin/systemctl --job-mode=fail --no-block default
Type=idle
StandardInput=null
StandardOutput=tty
StandardError=tty

[X-SystemdTool]

# override /usr/lib/systemd/system/emergency.service
InitrdPath=/etc/systemd/system/emergency.service source=/etc/systemd/system/initrd-emergency.service 
