# This file is part of https://github.com/random-archer/mkinitcpio-systemd-tool

# Ensure /sysroot mount before switch root.
# Provides unit dependency: sysroot.mount -> initrd-root-fs.target
# See https://github.com/systemd/systemd/issues/3551
# See https://github.com/random-archer/mkinitcpio-systemd-tool/issues/10
# See https://github.com/random-archer/mkinitcpio-systemd-tool/issues/12
# See https://www.freedesktop.org/software/systemd/man/bootup.html
# See https://github.com/systemd/systemd/blob/master/src/fstab-generator/fstab-generator.c

[Unit]
Description=Initrd /sysroot binder
Documentation=https://github.com/random-archer/mkinitcpio-systemd-tool/blob/master/README.md
ConditionPathExists=/etc/initrd-release
DefaultDependencies=no
After=sysroot.mount
BindsTo=sysroot.mount

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true

[Install]
WantedBy=initrd-root-fs.target

[X-SystemdTool]
InitrdService=enable
