# This file is part of https://github.com/random-archer/mkinitcpio-systemd-tool

# Provision shell and user settings.

[Unit]
Description=Initrd Shell Service
Documentation=https://github.com/random-archer/mkinitcpio-systemd-tool/blob/master/README.md
ConditionPathExists=/etc/initrd-release
DefaultDependencies=no
Before=cryptsetup-pre.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true

[Install]
WantedBy=sysinit.target

[X-SystemdTool]

# enable service
InitrdService=enable

# provision initrd shell
InitrdPath=/etc/systemd/system/initrd-shell.sh mode=700
InitrdBinary=/usr/bin/sulogin
InitrdBinary=/usr/bin/systemctl
InitrdBinary=/usr/bin/systemd-cat
InitrdBinary=/usr/bin/journalctl

# configure login script
InitrdLink=/root/.profile /etc/systemd/system/initrd-shell.sh

# configure user settings
InitrdPath=/etc/group  replace=yes
InitrdPath=/etc/passwd replace=yes
InitrdPath=/etc/shadow replace=yes
InitrdBuild=/etc/systemd/system/initrd-build.sh command=do_root_shell
InitrdBuild=/etc/systemd/system/initrd-build.sh command=do_secret_clean

# enable root password login (dropbear only. Remove -s from ExecStart in 
# initrd-dropbear.service too)
#InitrdBuild=/etc/systemd/system/initrd-build.sh command=do_root_login_enable

# include ssh credentials
InitrdPath=/root/.ssh/authorized_keys source=/root/.ssh/authorized_keys mode=600

# override system actions
InitrdLink=/usr/bin/halt /usr/bin/systemctl
InitrdLink=/usr/bin/reboot /usr/bin/systemctl
InitrdLink=/usr/bin/shutdown /usr/bin/systemctl

# required by /etc/nsswitch.conf
InitrdBinary=/usr/lib/libnss_compat.so
