
[Unit]
ConditionPathExists=/etc/initrd-release
DefaultDependencies=no

After=initrd-cryptsetup.service

Requires=initrd-cryptsetup.service


Before=sysroot.mount

[Service]
Type=oneshot
ExecStart=/bin/true

[Install]
WantedBy=initrd-root-fs.target
WantedBy=initrd-root-device.target
WantedBy=sysinit.target
RequiredBy=sysroot.mount
