
[Unit]

ConditionPathExists=/etc/crypttab
ConditionPathExists=/etc/initrd-release
DefaultDependencies=false

Before=initrd-root-fs.target

[Mount]

What=/dev/disk/by-uuid/8b291379-d515-4203-9d1d-60753f801e81

Where=/root/entry

Type=ext4

Options=noatime,x-systemd.device-timeout=9999h 

[Install]

WantedBy=custom-tester.target
