# This file is part of https://github.com/random-archer/mkinitcpio-systemd-tool

# Provision shell and user settings.

[Unit]
Description=Initrd Shell Service
Documentation=https://github.com/random-archer/mkinitcpio-systemd-tool/blob/master/README.md
ConditionPathExists=/etc/initrd-release
DefaultDependencies=no
Before=cryptsetup-pre.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true

[Install]
WantedBy=sysinit.target

[X-SystemdTool]

# provision initrd shell
InitrdPath=/usr/lib/mkinitcpio-systemd-tool/initrd-shell.sh mode=700
InitrdBinary=/usr/bin/sulogin
InitrdBinary=/usr/bin/systemctl
InitrdBinary=/usr/bin/systemd-cat
InitrdBinary=/usr/bin/journalctl

# configure login script
InitrdLink=/root/.profile target=/usr/lib/mkinitcpio-systemd-tool/initrd-shell.sh

# configure user settings
InitrdPath=/etc/group  replace=yes
InitrdPath=/etc/passwd replace=yes
InitrdPath=/etc/shadow replace=yes
InitrdBuild=/usr/lib/mkinitcpio-systemd-tool/initrd-build.sh command=do_root_shell
InitrdBuild=/usr/lib/mkinitcpio-systemd-tool/initrd-build.sh command=do_secret_clean

# include ssh credentials
InitrdPath=/root/.ssh/authorized_keys source=/etc/mkinicpio-systemd-tool/config/authorized_keys mode=600

# override system actions
InitrdLink=/usr/bin/halt       target=/usr/bin/systemctl
InitrdLink=/usr/bin/reboot     target=/usr/bin/systemctl
InitrdLink=/usr/bin/shutdown   target=/usr/bin/systemctl

# required by /etc/nsswitch.conf
InitrdBinary=/usr/lib/libnss_compat.so optional=yes
