# This file is part of https://github.com/random-archer/mkinitcpio-systemd-tool

# Override Emergency Service

# TODO does not work

# the default reaction to several failed cryptsetup attempts is to isolate the emergency service
# which results in loss of network and forced local interactive console - no good for ssh mode 

[Unit]
Description=Initrd Emergency Service
Documentation=https://github.com/random-archer/mkinitcpio-systemd-tool/blob/master/README.md
ConditionPathExists=/etc/initrd-release
DefaultDependencies=no
Conflicts=shutdown.target
Conflicts=rescue.service
Before=shutdown.target
Before=rescue.service
Wants=initrd-debug-shell.service

[Service]
Type=idle
# startup banner
ExecStartPre=/bin/echo "### panic shell ###"
# emergency console
Environment=TERM=linux
ExecStart=/bin/sh
#
Restart=on-failure
RestartSec=3s
#StandardInput=tty
#StandardOutput=journal+console
#StandardError=journal+console
#TTYPath=/dev/console

StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
KillMode=process
IgnoreSIGPIPE=no
SendSIGHUP=yes

[Install]

# not used

[X-SystemdTool]

# not used
