# This file is part of https://github.com/random-archer/mkinitcpio-systemd-tool

# Provision additional resources for the debug shell

# service dependencies:
# - https://www.archlinux.org/packages/community/x86_64/mc/

[Unit]
Description=Initrd Debug Progs Service
Documentation=https://github.com/random-archer/mkinitcpio-systemd-tool/blob/master/README.md
ConditionPathExists=/etc/initrd-release
DefaultDependencies=no
Before=initrd-debug-shell.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true

[Install]
WantedBy=sysinit.target
WantedBy=initrd-debug-shell.service

[X-SystemdTool]

# debug tools
InitrdBinary=/usr/bin/strace optional=yes
InitrdBinary=/usr/bin/cryptsetup optional=yes

# systemd tools
InitrdBinary=/usr/bin/journalctl
InitrdBinary=/usr/bin/less replace=yes
#InitrdBinary=/usr/bin/systemd-analyze

# midnight commander
InitrdBinary=/usr/bin/mc
InitrdBinary=/usr/bin/mcedit
InitrdBinary=/usr/bin/mcview
InitrdPath=/etc/mc
InitrdPath=/usr/lib/mc
InitrdPath=/usr/share/mc

# terminal support for ssh client
#InitrdBinary=/bin/infocmp
#InitrdPath=/usr/share/terminfo
InitrdPath=/usr/share/terminfo/r/rxvt
InitrdPath=/usr/share/terminfo/l/linux
InitrdPath=/usr/share/terminfo/v/vt100
InitrdPath=/usr/share/terminfo/x/xterm
