#
#
name: basic build
on:
  push:
    branches:
    - master
#
  pull_request:
    branches:
    - master
jobs:
#
  build:
    runs-on: ubuntu-latest
#
    steps:
    - uses: actions/checkout@v2
#
    - name: python version
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
#
    - name: install deps
      run: |
        python -m pip install --upgrade pip
#